treasure/amass/*
treasure/subfinder/*
treasure/assetfinder/*
treasure/altdns/*
treasure/sublist3r/*
treasure/crt_sh/*
treasure/dnsrecon/*
treasure/whois/*
treasure/dig/*
treasure/git-hound/*
treasure/gau/*

ref/
subdomain.txt
subdomain_live.txt
paused.conf
config.yaml

!treasure/**/note